@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background: #2a2b32;
    align-items: center;
    display: flex;
}

.one-halfcolumn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.column{
    justify-content: center;
}

a.logo{
    display: flex;
    padding-left: 562px;
}
a{
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: #e91e63;
}

.background{
    display: flex;
    align-items: center;
}

h1.header{
    color: #4006f0;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 500px;
}

h2{
    color: #ffffff7d;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 500px;
    display: flex;
}

canvas{
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0px;
}

.mb{
    margin-bottom: 3rem;
}

.logo{
    font-family: 'Monoton', cursive;
    color: #fff;
    font-size: 10rem;

}

.links-list ul li{
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.row{
    display: flex;
    align-items: center;
}
.links-list h1{
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    padding-left: 99px;
}

.links-list ul li span{
    background-color: #e91e63;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fff;
}

.footer{
    margin-top: 6rem;
}

.footer p{
    color: #fff;
    font-size: 1.3rem;
}



*{
    margin: 0;
    box-sizing: border-box;
}

.aboutme{
    display: flex;
    align-items: center;  
}
.aboutme ul li{
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
    display: flex;
}

.aboutme h1{
    color: #4006f0;
    font-size: 2rem;
    display: flex;
}

.aboutme p{
    display: flex;
    align-items: center;
}

.domanda{
    display: flex;
    justify-content: space-between;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: 5px;
    padding-top: 30px;
}

.spiegazione ul li{
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
    color: #000000;
    padding-left: 55px;
}

.bgwhite2{
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bgwhite{
    background-color: #fff;
    padding-bottom: 69px;
    padding-top: 69px;
    padding-left: 25px;
}